.container{
    max-width: 400px;
    width: 400px;
    max-height: 1000px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    background-color: aqua;
}
.headd{
    position: relative;
    padding: 10px 20px;
    font-size: x-large;
    font-weight: bold;
}
.bodyd{
    border-top: 1px solid grey;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 20px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 50vh;
    
}
.footd{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid grey;
    padding-top: 10px;
}
.shiet{
    border-radius: 5px;
    padding: 20px 10px;
}
label{
    margin-bottom: 5px;
}
button{
    margin: 5px;
}
.greyb{
    color: white;
    background-color: gray;
    padding: 15px;
    border-radius: 10px;
    width: 80px;
}
.blueb{
    color: white;
    background-color: blue;
    padding: 15px;
    border-radius: 10px;
}
span{
    position: absolute;
    opacity: 0.5;
    right: 10px;
}